/*==================================
Static & Animated GIFs Service Page
================================== */

/*===========
Global Styles
===========*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue";
}
.static-ad,
.gif-ad {
  display: none;
}

/*==========================*
 Static & GIF Animated Title
============================*/

.static-animated-gif-title {
  width: 91.5%;
}
.title-text {
  text-align: center;
  color: #54afad;
  margin: 71px 0px 72px 0px;
}

.title-text h1 {
  font-weight: 700;
  font-size: 40px;
}

/*================================
 Static and GIF Ad Gallery Section
 ===============================*/

.ad-gallery {
  width: 91.5%;
  height: auto;
}
.ad-showcase {
  margin-top: 40px;
}
.adsize-nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 23px;
}
.adsize-nav li {
  /* flex: 1 0 12%; */
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #ffa95e;
  width: 122px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* line-height: 24px; */
}

.active {
  background-color: #ffa95e;
  color: #ffffff !important;
}

.activeCon {
  background-color: #ffa95e;
  color: #ffffff !important;
}

.adsize-nav li:hover {
  background-color: #ffa95e;
  color: #ffffff;
  transition: all 0.3s ease;
  cursor: pointer;
}

.size-300x250 {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  flex-direction: row;
  gap: 12px;
}

.list-300x250 {
  /* flex: 1 0 21%; */
  width: 300px;
  height: 250px;
  border: 1px inset rgba(0, 0, 0, 0.9);
  /* box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.5); */
}
.list-300x250 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.size-160x600 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  gap: 37px;
}
.list-160x600 {
  /* flex: 1 0 10%; */

  width: 144px;
  height: 540px;
  border: 1px inset rgba(0, 0, 0, 0.9);
}
.list-160x600 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.size-300x600 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  gap: 51px;
}
.list-300x600 {
  /* flex: 1 0 21%; */
  width: 270px;
  height: 540px;
  border: 1px inset rgba(0, 0, 0, 0.9);
}
.list-300x600 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.size-728x90 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 85px;
}

.list-728x90 {
  /* flex: 1 0 42%; */
  width: 575px;
  height: 71px;
  border: 1px inset rgba(0, 0, 0, 0.9);
}
.list-728x90 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.size-970x250 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  gap: 71px;
}
.list-970x250 {
  /* flex: 1 0 42%; */
  width: 582px;
  height: 150px;
  border: 1px inset rgba(0, 0, 0, 0.9);
}

.list-970x250 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.size-320x50,
.size-300x50 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 85px;
}

.list-320x50 {
  /* flex: 1 0 42%; */
  width: 320px;
  height: 50px;
  border: 1px inset rgba(0, 0, 0, 0.9);
}

.list-300x50 {
  width: 300px;
  height: 50px;
  border: 1px inset rgba(0, 0, 0, 0.9);
}
.list-320x50 img,
.list-300x50 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/*================
  Load More Button
================*/

.load-more {
  border: none;
  outline: none;
  margin: 0 auto;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #fff;
  background-color: #ffa95e;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  cursor: pointer;
  margin-top: 79px;
}

/*=========================
Other Service Page Section
===========================*/

.other-service-page {
  width: 91.5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.other-service-link {
  flex: 1 0 30%;
  height: 169px;
  border: 1px inset #000000;
  transition: all 0.3s ease;
}
.other-service-link:hover {
  border: 1px solid #e7feff;
  background-color: #e7feff;
}
.service-link__title_view {
  padding: 38px 0 38px 42px;
}

.service-link__title_view h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 36px;
  color: #000 !important;
  /* border: 1px solid #000; */
}
.service-link__title_view span {
  font-style: normal;
  font-size: 16px;
  color: #fd7c51;
  font-weight: 700;
  text-transform: uppercase;
  /* border: 1px solid #000; */
}

/*=======
  Spacer
=======*/

.static-page-spacer {
  width: 91.5%;
  height: 79px;
}

.allads {
  display: none;
}
.show {
  display: block;
}
.showContainer {
  display: block;
}

#load {
  margin-top: 20px;
}
.lb-outerContainer{
  background-color: transparent!important;
}
.lightbox .lb-image {
  border: 1px solid #000!important;
  outline: 7px solid white;
}
.lb-data .lb-close {
  position: relative;
  top: -5px;
}
/* =================================
   Responsiveness | Media Queries
==================================*/

@media (max-width: 1280px) {
  .list-300x250 {
    width: 24%;
    height: auto;
    /* height: 166.67px; */
  }

  .list-300x250 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 375px) {
  .title-text {
    margin: 26px 0;
  }

  .title-text h1 {
    font-size: 20px;
  }

  .adsize-nav li {
    font-size: 11px;
    width: 15%;
    height: 2.5vh;
  }

  .list-300x250 {
    width: 48%;
  }

  .list-160x600 {
    width: 25%;
    height: auto;
  }

  .size-300x600 {
    justify-content: center;
    gap: 25px;
  }
  .list-300x600 {
    width: 45%;
    height: auto;
  }

  .size-728x90 {
    gap: 35px;
  }

  .list-728x90 {
    width: 100%;
    height: auto;
  }

  .size-970x250 {
    gap: 51px;
  }

  .list-970x250 {
    width: 100%;
    height: 125px;
  }
  .list-970x250 {
    object-fit: fill;
  }
}

@media (min-width: 375px) and (max-width: 480px) {
  .title-text {
    margin: 26px 0px 26px 0px;
    padding: 0 !important;
  }

  .adsize-nav {
    flex-wrap: wrap-reverse;
  }

  .adsize-nav li {
    font-size: 12px !important;
    width: 18.5% !important;
    height: initial !important;
  }

  #staticBtn {
    order: 7;
  }

  #gif-btn {
    order: 8;
  }

  .ad-gallery {
    width: 93%;
  }
  .list-160x600 {
    height: 287px !important;
  }

  .size-300x600 {
    justify-content: center;
  }
  .list-300x600 {
    width: 42% !important;
    height: 287px !important;
  }

  .list-300x600 img {
    object-fit: fill;
  }

  .size-320x50 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 29px;
  }

  .list-320x50 {
    margin: 0 auto;
    width: 320px;
    height: 50px;
    border: 1px inset #000;
  }

  .list-320x50 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .size-300x50 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 29px;
  }
  .list-300x50 {
    margin: 0 auto;
    width: 300px;
    height: 50px;
    border: 1px inset #000;
  }

  .list-300x50 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .other-service-page {
    width: 91.5%;
  }
  .service-link__title_view {
    text-align: center;
    padding: 14px 0 17px 0px !important;
  }
  .service-link__title_view h2 {
    margin-bottom: 6px !important;
  }
}

@media (min-width: 744px) and (max-width: 834px) {
  .ad-gallery {
    width: 85.6%;
  }
  .size-300x250 {
    justify-content: unset;
  }
  .list-300x250 {
    width: 32%;
  }

  .size-160x600 {
    justify-content: unset !important;
  }
  .list-160x600 {
    width: 10.8% !important;
    height: 252px !important;
  }

  .list-160x600 img {
    object-fit: cover !important;
  }

  .size-300x600 {
    justify-content: unset !important;
  }

  .list-300x600 {
    width: 20.2% !important;
    height: 252px !important;
  }

  .list-300x600 img {
    object-fit: cover !important;
  }

  .list-728x90 {
    width: 68% !important;
    height: 52px !important;
  }

  .list-970x250 {
    width: 46% !important;
    height: 75px !important;
  }

  .list-970x250 img {
    object-fit: cover !important;
  }
  .other-service-page {
    width: 85.6%;
  }
}

@media (min-width: 375px) and (max-width: 743px) {
  main {
    margin-top: 0;
  }

  .title-text {
    margin: 26px 0px 26px 0px;
  }

  .title-text h1 {
    font-size: 20px;
  }
  .adsize-nav {
    gap: 6.25px;
  }

  .adsize-nav li {
    float: none;
    width: 19%;
    height: auto;
    font-weight: 500;
    font-size: 12px;
    font-size: min(3.2vw, 16px);
    padding: 5px 0;
  }

  .ad-showcase {
    margin-top: 10px;
  }

  .size-300x250 {
    gap: 6px;
  }

  .list-300x250 {
    width: 49%;
    height: auto;
  }
  .list-300x250 img {
    object-fit: contain;
  }
  .size-160x600 {
    gap: 11px;
  }
  .list-160x600 {
    width: 22.4%;
    height: auto;
  }

  .size-300x600 {
    gap: 12px;
  }

  .list-300x600 {
    width: 48%;
    height: auto;
  }

  .size-728x90 {
    gap: 12px;
  }

  .list-728x90 {
    width: 100%;
    height: auto;
  }

  .size-970x250 {
    gap: 12px;
  }

  .list-970x250 {
    width: 100%;
    height: auto;
  }
  .size-320x50,
  .size-300x50 {
    justify-content: center;
    gap: 29px;
  }
  .other-service-page {
    flex-direction: column;
    gap: 10px;
  }

  .other-service-link {
    height: auto;
  }
  .service-link__title_view {
    text-align: center;
    padding: 20px 0 20px 0px;
  }

  .service-link__title_view h2 {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .service-link__title_view span {
    font-size: 10px;
  }
}

@media (min-width: 744px) and (max-width: 1080px) {
  .title-text {
    text-align: center;
    margin: 44px 0px 43px 0px;
    padding: 0;
  }

  .title-text h1 {
    font-size: 22px;
  }
  .adsize-nav {
    gap: 7.6px;
  }

  .adsize-nav li {
    float: none;
    width: 12.2%;
    height: auto;
    font-weight: 500;
    font-size: 1.882vw;
    padding: 5px 0;
  }

  .ad-showcase {
    margin-top: 20px;
  }

  .list-300x250 {
    width: 32%;
    height: auto;
  }

  .list-300x250 img {
    /* max-width: 100%;
    max-height: 100%; */
    max-inline-size: 100%;
    object-fit: cover;
    display: block;
  }

  .size-300x600 {
    justify-content: center;
    gap: 39px;
  }

  .list-300x600 {
    width: 20.5%;
    height: auto;
    max-inline-size: 100%;
    object-fit: cover;
    display: block;
  }

  .list-300x600 img {
    /* max-width: 100%;
    max-height: 100%; */
    max-inline-size: 100%;
    object-fit: contain;
    display: block;
  }

  .size-728x90 {
    gap: 23px;
  }

  .list-728x90 {
    width: 64%;
    height: auto;
    max-inline-size: 100%;
  }

  .list-728x90 img {
    /* max-width: 100%;
    max-height: 100%; */
    max-inline-size: 100%;
    object-fit: cover;
    display: block;
  }

  .size-160x600 {
    /* justify-content: space-between; */
    gap: 25px;
  }

  .list-160x600 {
    width: 11%;
    height: auto;
    max-inline-size: 100%;
  }

  .list-160x600 img {
    /* max-width: 100%;
    max-height: 100%; */
    max-inline-size: 100%;
    object-fit: contain;
    display: block;
  }

  .size-970x250 {
    justify-content: space-between;
    gap: 36px;
  }

  .list-970x250 {
    width: 47%;
    height: auto;
    max-inline-size: 100%;
  }

  .list-970x250 img {
    /* max-width: 100%;
    max-height: 100%; */
    max-inline-size: 100%;
    object-fit: contain;
    display: block;
  }

  .other-service-link {
    height: auto;
  }
  .service-link__title_view {
    padding: 32px 0 32px 30px;
  }

  .service-link__title_view h2 {
    color: #000 !important;
    font-size: 16px;
    font-size: 2vw;
    margin-bottom: 30px;
  }

  .service-link__title_view span {
    font-size: 11px;
  }
}

@media (min-width: 744px) and (max-width: 1280px) {
  .size-300x50,
  .size-320x50 {
    display: flex;
    flex-wrap: wrap;
    gap: 65px !important;
    justify-content: center;
  }

  .list-320x50 {
    width: 320px;
    height: 50px;
  }

  .list-300x50 {
    width: 300px;
    height: 50px;
  }
}

@media (min-width: 1080px) and (max-width: 1280px) {
  /* main{
    margin-top: 50px;
   } */

  .title-text {
    margin: 50px 0px 45px 0px;
  }

  .title-text h1 {
    font-size: 30px;
  }
  .adsize-nav li {
    float: none;
    width: 10%;
    height: auto;
    font-weight: 500;
    font-size: min(2vw, 18px);
    padding: 5px 0;
  }

  .list-300x600 {
    width: 21%;
    height: auto;
  }

  .list-970x250 {
    width: 46%;
    height: auto;
  }

  .service-link__title_view h2 {
    font-size: 2.4vw;
  }

  .service-link__title_view span {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .static-animated-gif-title {
    width: 77.3em;
  }
  .ad-gallery {
    width: 77.3em;
  }

  .other-service-page {
    width: 77.3em;
  }

  .list-300x250 {
    width: 300px;
    height: 250px;
  }

  .list-300x250 img {
    object-fit: cover;
  }
  .list-160x600 {
    width: 144px;
    height: 540px;
  }

  .list-160x600 img {
    object-fit: cover;
  }

  .list-300x600 {
    width: 270px;
    height: 540px;
  }

  .list-300x600 img {
    object-fit: cover;
  }

  .list-728x90 {
    width: 575px;
    height: 71px;
  }

  .list-728x90 img {
    object-fit: cover;
  }

  .list-970x250 {
    width: 582px;
    height: 150px;
  }

  .list-970x250 img {
    object-fit: cover;
  }
}
